@model EF_Code_First_01.Models.Entities.Category
@{
    ViewData["Title"] = "Delete";
}

<div class="card" style="width: 18rem;">
  <img src="https://www.cihatayaz.com/wp-content/uploads/2016/06/hevesli-kitap-okumak-600x398.jpg" class="card-img-top" >
  <div class="card-body">
      <h2 class="text-center">@Model.CategoryId</h2>
    <h5 class="card-title">@Model.CategoryName</h5>
    <p class="card-text">@Model.CategoryDescription</p>
    <a  class="btn btn-primary" asp-controller="Category" asp-action="Index" >Geri Dön</a>
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId">
   <input type="submit" class="btn btn-danger" value="Sil">
    </form>
 
  </div>
</div>