@model EF_Code_First_01.Models.Entities.Category
@{
    ViewData["Title"] = "Edit";
}

<h1>Kategori Oluşturma Sayfası</h1>

<div class="container">
    <form asp-action="Edit">
        <label >ıd</label>
        <input type="hidden" asp-for="CategoryId">
     
        <br>
        <label >Kategori Adı</label>
        <input type="text" class="form-control" asp-for="CategoryName" >
        <br>

        <label >Kategori Tanımı</label>
        <input type="text" class="form-control" asp-for="CategoryDescription"  >
        <br>

        <input type="submit" class="btn btn-warning" value="Kaydet">
 
    </form>

</div>